@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
a, a:visited, a:hover { text-decoration: none; }
main a { color: #0054b9; }
a:hover { color: #c00; }

main {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section {
    width: 50%;
    padding-left: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.search {  padding-left: 0; }
.search__logo { width: 100px; }
.form { 
    margin-left: 20px; 
    width: calc(100% - 120px); 
    display: flex;
}
.form__input, .form__btn { 
    height: 2.5em;
    font-size: 18px;
    border: solid 2px #fc0;
    outline: none;
}
.form__input {
    border-right: none;
    border-radius: 0.5em 0 0 0.5em;
    padding-left: 0.5em;
    flex-grow: 1;
}
.form__btn {
    border-radius: 0 0.5em 0.5em 0;
    padding: 0 15px;
    background-color: #fc0;
    transition: .15s ease-out;
}
.form__btn:hover {
    background-color: #f2c200;
}

.error {
    flex-direction: column;
    align-items: flex-start;
}
.error__title, .error__message { line-height: 200%; }

.services {
    display: grid;
    grid-template-columns: 50% 50%;
}
.service__item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.service__item::before {
    content: '';
    margin-right: 0.6em;
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background-color: #fc0;
}

.footer {
    width: 100%;;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25%;
}
.footer__item {
    color: #999;
    margin-right: 2em;
    transition: color .15s ease-out;
}